<h1>Bienvenue dans le formulaire stylayyyy</h1>

<% if user_signed_in? %>
<p>Bienvenue proprietaire du <%= current_user.email %></p>
  <%= link_to "Deconnecte toi", destroy_user_session_path, method: :delete, class:"button button4" %>
<% else %>
  <%= link_to "Connecte toi", new_user_session_path, class:"button button4" %>
  <%= link_to "Inscrit toi", new_user_registration_path, class:"button button4" %>
<% end %>
